* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#site_header {
    background-color: #FF6900;
    height: 60px;
    width: 100%;
    display: flex;
}



.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.logo {
    height: 35px;

}



.lista {
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
}



li {
    padding: 5px;

}


section {
    display: flex;
    height: 33px;
    width: 10rem;

}




svg {
    padding: 5px;
}

.container1 {

    margin-top: 50px;
    width: 100%;
    height: 500px;
    position: relative;
}


.site-main {
    height: auto;
    margin: auto;
    display: flex;
    position: relative;
}


#site_main{
    width: 70%;
    margin-left: 15rem;
    
 }




.container1 {

    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly
    
}


.img{
    position: relative;
    max-width: 100%;
}

.web1{
    position: relative;
    background-image: url(../img/1b.webp);
    background-size: cover;
    display: flex;


} 


.discount{
    position: absolute;
    border: 1px solid;
    bottom: 2rem;
    background-color: red;
    padding: 2px;
    width:  50px;
    text-align: center;
    color: white;
    
}

.character{
    background-color: green;
    position: absolute;
    left: 50px;
    bottom: 2rem;
    height: 24px;
    text-align: center;
    margin-left: 2px;
    color: white;
    padding: 5px;
}

.brand{
    color: grey;
    margin-top: 31rem;
}

.product{
    font-weight: bold;
    width: 200px;
    font-size: 15px;


}


.price{

display: flex;
}


.price1{
    color: red;
    margin-right: 8px;



}

.discount1{
    opacity: 0.4;
    text-decoration: line-through;

}

  



.web1:hover{
    background-image: url(../img/1.webp);

  }


  .img{
    width: 19rem;
    position: relative;
   


  }
    


  




    
